@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index - from Display controller</h2>
<p>
    Display content goes here
</p>

 <div id="emailForm">
	<div><br /><br /></div>
					            
	<div style="clear:both;"></div>
	<div class="formleft" >
		<input type="text" id="txtFirstName" class="capture-field_c" style="width:180px;" />							
	</div>
	<div class="formleft" >
		<input type="text" id="txtLastName" class="capture-field_c" style="width:180px;"/>							
	</div>
	<div class="formleft" >
		<input type="text" id="txtEmail" class="capture-field_c" style="width:180px;" />						
	</div>										
	<div style="clear:both;"></div>
	<div class="formleft" >
		<input type="text" id="txtPhone" class="capture-field_c" style="width:180px;" />
	</div>
	<div class="formleft">	
		<input type="text" id="txtAge" class="capture-field_c" style="width:100px;" />					
	</div>
	<div >
		<div id="btnSubmit" style="cursor:pointer;" ><img src="" width="66px"; height="33px"; alt="" /></div>
	</div>
	<div style="clear:both;"></div>
	<div id="thankyou" style="color:#000000; font-weight:bold; font-size: 15px; display:none;">Thanks, you have been signed up to receive news &amp; updates.</div>
						
		
</div>