@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Put content here.<br />
     <font face="Arial" >hello world, microsoft</font>
</p>
<p>
    @*<iframe id="iframe_1" src="http://localhost:2110/Display"></iframe>   *@
     <iframe id="iframe_1" width="800" height="600" src="http://qa.signup.ralphlauren.com/fr-FR/Rugby"></iframe>   
</p>
<p>
   <a href="#" target="_blank">hiii</a>
</p>